body {
  background-color: #ffef00;
  color: black;
  font-family: Verdana;
}

h1 {
  text-align: left;
}
/*Header bar for website. To do: make hover links
.navbar {
  padding:var(--navbar-padding,.5rem);
  min-height:4rem;
  width: 100%
}
*/
.navbar>* {
 display:flex;
 align-items:center
}

.container .brand
{ height: auto;
min-height: 20px;
min-width: 20px;
width: auto; }

.navbar-start {
 width:50%;
 justify-content:flex-start
}

.navbar-center {
 flex-shrink:0
}

.navbar-end {
 width:50%;
 justify-content:flex-end
}

p {
  text-align: center;
}
