body {
  background-color: #ffef00;
  color: black;
  font-family: serif;
}

h1 {
  text-align: left;
}

.topbar {
  padding:var(--navbar-padding,.5rem);
  min-height:4rem;
  width: 100%
}

.topbar,
.topbar>* {
 display:flex;
 align-items:center
}

.topbar-start {
 width:50%;
 justify-content:flex-start
}

.topbar-center {
 flex-shrink:0
}

.topbar-end {
 width:50%;
 justify-content:flex-end
}

.abar {
  text-align: center;
  padding: 0;
  margin: 0;
}

p {
  text-align: center;
}
